[user]
	name = dragonfirenetwork
	email = 180597600+dragonfirenetwork@users.noreply.github.com
	signingkey = /Users/glitchbox/.ssh/id_ed25519.pub
[init]
	defaulBranch = main
	defaultBranch = main
[diff]
	colorMoved = zebra
[pull]
	rebase = True
[rebase]
	autoStash = True